*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav{
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    margin: 0 auto;
}
nav .menu ul{
    display: flex;
    gap: 32px;
}
nav .menu li{
    list-style: none;
}
nav .menu li a{
 text-decoration: none;
 color: black;
}
.btn{
    padding: 12px 16px;
   background-color: #30B868;
   border: none;
   border-radius: 4px;
   color: rgba(255, 255, 255, 1);
   font-weight: 550;
   cursor: pointer;
}
.btn:hover, .btn2:hover{
    background-color: rgb(0, 134, 120);
}
#banner{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: none;
    padding: 70px 120px 134px;
    margin: 0 auto;
    align-items: center;
}
.banner-content{
    margin: 0 auto;
    text-align: center;
    max-width: 1360px;
}
.banner-content h4{
    color: #30B868;
    background-color: #ffff;
    width: 229px;
    margin: 0 auto;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 1000px;
}
.banner-content h1{
    margin: 0 auto;
    font-size: 65px;
    color: rgba(255, 255, 255, 1)
}
.banner-content span{
    color: #30B868;
}
.banner-content p{
    max-width: 770px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 auto;
    color: white;
    padding: 20px;
    
}
.btn2{
    border: 1px solid white;
    background: none;
     padding: 12px 16px;
   border-radius: 4px;
   color: rgba(255, 255, 255, 1);
   font-weight: 600;
   cursor: pointer;
}
#card-section .card-content{
        width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
.note-card{
    width: 322px;
    text-align: center;
    padding: 70px 24px;
    box-shadow: 1px 2px 40px 0 rgb(231, 230, 230);
}
.card-heading h2{
    font-size: 38px;
    margin-top: 40px;
}
.card-heading p{
    font-size: 14px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 40px;
    
}
.card-container{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.note-card img{
    height: 60px;
    width: 60px;
    padding: 14px;
    border-radius: 50%;
    background-color: orangered;
}
.note-card h3{
    font-size:24px;
   margin-top: 16px;
}
.note-card p{
    font-size: 14px;
    color: #627382;
    margin-top: 16px;
}
.note-card:hover{
    background-color: rgb(250, 247, 243);
}
/* card completed */
#solution{
     max-width: 1360px;
    margin: 120px auto;
}

.solution-content{
    display: flex;
    gap: 60px;
}
.solution-container .solution-content{
    display: flex;
    gap: 60px;
}
.solution-container .solution-content img{
    height: 600px;
    width: 600px;
}
.solution-content .solution-text{
    max-width: 700px;
    align-items: center;
    margin-top: 102px;
    text-align: left;
    padding-right: 120px;
}
.solution-content .solution-text h3{
    font-size: 16px;
    color: #30B868;
}
.solution-content .solution-text h1{
    font-size: 48px;
    margin-top: 16px;
}
.solution-content .solution-text p{
    font-size: 16px;
    color: #627382;
    margin-top: 14px;

}
.solution-text .sol-tick{
    margin-top: 40px;
}
.solution-text .sol-tick p{
    font-size: 16px;
    color: black;
    font-weight: 600;
}
#early-access{
    width: 100%;
    max-width: 1360px;
    align-items: center;
    margin: 120px auto;
    text-align: center;
    background-color: #F7F6F2;
}
#early-access .early-access-box{
        padding-top: 80px;
        padding-bottom: 80px;
}
#early-access .early-access-box h1{
    font-size: 40px;
}
#early-access .early-access-box p{
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 24px;
    line-height: 24px;
}
footer{
    margin-top: 120px;
    background-color: rgba(0, 25, 49, 1);
}
.footer-container{
     width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 120px;
    align-items: center;
}
.footer-container .social h3{
    color: #F7F6F2;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-container .social .icons i{
    margin-right: 16px;
    color: #F7F6F2;
    cursor: pointer;
}
footer h5{
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    max-width: 1360px;
  color: #FAFAFA;
  text-align: center;
  border-top: 1px solid #627382;
   margin: 0 auto;
   padding-top: 30px;
   padding-bottom: 30px;
}



