*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav{
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    margin: 0 auto;
}
nav .menu ul{
    display: flex;
    gap: 32px;
}
nav .menu li{
    list-style: none;
}
nav .menu li a{
 text-decoration: none;
 color: black;
}
.btn{
    padding: 12px 16px;
   background-color: #30B868;
   border: none;
   border-radius: 4px;
   color: rgba(255, 255, 255, 1);
   font-weight: 600;
   cursor: pointer;
}
.btn:hover, .btn2:hover{
    background-color: rgb(0, 134, 120);
}
#banner{
    /* width: 100%;
    max-width: 1600px; */
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: none;
    padding: 70px 120px 134px;
    margin: 0 auto;
    align-items: center;
}
.banner-content{
    margin: 0 auto;
    text-align: center;
    max-width: 1360px;
}
.banner-content h4{
    color: #30B868;
    background-color: #ffff;
    width: 229px;
    margin: 0 auto;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 1000px;
}
.banner-content h1{
    margin: 0 auto;
    font-size: 65px;
    color: rgba(255, 255, 255, 1)
}
.banner-content span{
    color: #30B868;
}
.banner-content p{
    max-width: 770px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 auto;
    color: white;
    padding: 20px;
    
}
.btn2{
    border: 1px solid white;
    background: none;
     padding: 12px 16px;
   border-radius: 4px;
   color: rgba(255, 255, 255, 1);
   font-weight: 600;
   cursor: pointer;
}
#card-section .card-content{
        width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
.note-card{
    width: 322px;
    text-align: center;
    padding: 70px 24px;
    box-shadow: 1px 2px 40px 0 rgb(231, 230, 230);
}
.card-heading h2{
    font-size: 38px;
    margin-top: 40px;
}
.card-heading p{
    font-size: 14px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 40px;
    
}
.card-container{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.note-card img{
    height: 60px;
    width: 60px;
    padding: 14px;
    border-radius: 50%;
    background-color: orangered;
}
.note-card h3{
    font-size:24px;
   margin-top: 16px;
}
.note-card p{
    font-size: 14px;
    color: #627382;
    margin-top: 16px;
}
.note-card:hover{
    background-color: rgb(250, 247, 243);
}
/* card completed */




