*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    margin: 0 auto;
}
nav .menu ul{
    display: flex;
    gap: 32px;
}
nav .menu li{
    list-style: none;
}
nav .menu li a{
 text-decoration: none;
 color: black;
}
.btn{
    padding: 12px 16px;
   background-color: #30B868;
   border: none;
   border-radius: 4px;
   color: rgba(255, 255, 255, 1);
   font-weight: 600;
   cursor: pointer;
}
.btn:hover{
    background-color: rgb(0, 134, 120);
}


